{% extends "base.html" %}
{% load static %}

{% block title %}Каталог книг{% endblock %}
{% block content %}
    <div class="container">
        <div class="header">
            <h1><a href="/books">Каталог</a></h1>
        </div>
        <div class="row">
            {% if book %}
                <div class="book col-md-4">
                    <h2>{{ book.name }}</h2>
                    <p>Автор: {{ book.author}}</p>
                    <p>Дата публикации: {{ book.pub_date }}</p>
                </div>
            {% endif %}

            {% for book in books %}
                <div class="book col-md-4">
                    <h2>{{ book.name }}</h2>
                    <p>Автор: {{ book.author}}</p>
                    <p>Дата публикации: {{ book.pub_date }}</p>
                </div>
            {% endfor %}
        </div>

        <p>
        {% if previous_book %}
            <a href="{% url 'get_book_by_date' previous_book %}">&lt;{{ previous_book }}</a>
        {% endif %}
        {% if next_book %}
            <a href="{% url 'get_book_by_date' next_book %}">{{ next_book }}&gt;</a>
        {% endif %}
        </p>
    </div>
{% endblock %}
